aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anthropic
anyio
APScheduler
asgiref
attrs
bcrypt
beautifulsoup4
black
blinker
boto3
botocore
build
cachetools
certifi
cffi
charset-normalizer
chromadb
click
cmdstanpy
colorama
contourpy
cryptography
curl_cffi
cycler
datasets
Deprecated
deprecation
dill
distro
Django
dnspython
docstring_parser
durationpy
ecdsa
email-validator
et_xmlfile
fastapi
filelock
flake8
Flask
flask-cors
Flask-JWT-Extended
Flask-Limiter
flatbuffers
fonttools
frozendict
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
gradio_client
groq
grpcio
grpcio-status
gunicorn
h11
h2
hf-xet
holidays
hpack
html5lib
httpcore
httplib2
httptools
httpx
huggingface_hub
hyperframe
idna
importlib_metadata
importlib_resources
iniconfig
isort
itsdangerous
Jinja2
jiter
jmespath
joblib
jq
jsonschema
jsonschema-specifications
kiwisolver
kubernetes
librt
lightgbm
limits
llvmlite
lxml
markdown-it-py
MarkupSafe
matplotlib
mccabe
mdurl
mmh3
motor
mpmath
multidict
multiprocess
multitasking
mypy
mypy_extensions
networkx
nltk
nsepy
numba
numpy
oauthlib
onnxruntime
openai
openenv
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
ordered-set
orjson
overrides
packaging
pandas
pandas-ta
passlib
pathspec
patsy
pdfminer.six
pdfplumber
peewee
pillow
platformdirs
pluggy
postgrest
propcache
prophet
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pybase64
pycodestyle
pycparser
pydantic
pydantic-settings
pydantic_core
pyflakes
Pygments
pyiceberg
PyJWT
pymongo
PyMuPDF
pyparsing
pypdfium2
PyPika
pyproject_hooks
pyroaring
pytest
python-dateutil
python-dotenv
python-jose
python-multipart
pytokens
pytz
PyYAML
realtime
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
sniffio
soupsieve
# Editable install with no version control (sql-debug-env
sqlparse
stanio
starlette
statsmodels
storage3
StrEnum
strictyaml
supabase
supabase-auth
supabase-functions
sympy
ta
tenacity
textblob
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
uvicorn
vaderSentiment
watchfiles
webencodings
websocket-client
websockets
Werkzeug
wikipedia
wrapt
xgboost
xxhash
yarl
yfinance
zipp
zstandard
gunicorn
